body {
  margin: 0;
  text-align: center;
  font-family: Arial;
  background-color: #ececec;
}

* {
  font-family: Arial;
  color: grey;
}

/* Styles title */
h1 {
  font-size: 3em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
  font-family: VT323;
  opacity: 0.8;
  letter-spacing: 1.7px;
}

/* First margin value is top, second is right and left sides, third is bottom */
h4 {
  margin: 1em 0 0.75em;
  text-align: left;
  text-transform: uppercase;
}

/* Applies to italicized text */
em {
  font-size: 13px;
  color: #bfbfbf;
}

table,
tr,
td {
  border: silver 1px dotted;
}

.pixel-canvas {
  background-color : white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
  border-collapse: collapse;
}

tr {
  height: 20px;
}

td {
  min-width: 20px;
  box-sizing: border-box;
}

/* Styles height and width input boxes */
input[type=number] {
  width: 3em;
  border: 1px solid #dcdcdc;
}

/* Styles buttons, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.submit-button, .quick-fill, .erase-mode, .draw-mode {
  box-shadow: inset 0px 1px 0 0 #fff;
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
  /* creates rounded edges (more pixels -> more rounded) */
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	font-weight: bold;
  /* Padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
	padding: 6px 24px;
	text-decoration: none;
	/* text-shadow: 0 1px #fff; */
  cursor: pointer;
  /* Places button on its own line. Note this is later changed for submit-button to display icon next to it */
  display: block;
  margin-top: 1em;
}

/* Set to display:block above, so have to change to this for icon to appear next to button (both must be wrapped in div). Default for button is inline-block */
.submit-button {
  display: inline;
}

.fa-redo {
  padding-left: 12px;
  position: relative;
  top: 2.2px;
  color: #539e48;
  opacity: 0.8;
}

i:hover {
  cursor: pointer;
}

.color-picker {
	border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  padding: 0;
}
.color-picker::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

/* Styles content to left of grid */
.inputs {
  text-align: left;
  margin-left: 8em;
  margin-top: 7.5em;
  border-radius: 7px;
  border: 1px solid #dcdcdc;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  width: 200px;
  background-color : white;
}

/* Part of two-column layout implementation */
.column {
  float: left;
  width: 35%;
}

/* Ensures title ('Pixel Art Maker') is centered above grid */
.column:last-of-type {
  width: auto;
}

.mobile-message {
  background-color: #fff;
  height: 100vh;
  display: none;
}

/* Mobile phones/extra small screens */
@media screen and (max-width: 767px) {
  .mobile-message {
    display: table;
  }

  p {
    text-align: center;
    font-size: 17px;
    /* Default: left and right margin of 1em; */
    padding: 0 3em;
    display: table-cell;
    vertical-align: middle;
  }

  .pixel-canvas {
    display: none;
  }

  .inputs {
    display: none;
  }

  .column {
    display: none;
  }
}

/* Tablets in portrait view */
@media (min-width: 768px) and (max-width: 1024px) {
  .mobile-message {
    display: table;
  }

  p {
    text-align: center;
    font-size: 30px;
    /* Default: left and right margin of 1em; */
    padding: 0 4.5em;
    display: table-cell;
    vertical-align: middle;
  }

  .pixel-canvas {
    display: none;
  }

  .inputs {
    display: none;
  }

  .column {
    display: none;
  }
}

/* Tablets in landscape view */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .mobile-message {
    display: table;
  }

  p {
    text-align: center;
    font-size: 30px;
    /* Default: left and right margin of 1em; */
    padding: 0 8em;
    display: table-cell;
    vertical-align: middle;
  }

  .pixel-canvas {
    display: none;
  }

  .inputs {
    display: none;
  }

  .column {
    display: none;
  }
}
