body {
  text-align: center;
  font-family: Arial;
  background-color: #e3e4e6;
}

/* styles title */
h1 {
  font-family: Helvetica;
  color: grey;
  font-size: 2.5em;
}

/* first margin value is top, second is right and left sides, third is bottom */
h4 {
  color: darkgrey;
  margin: 1em 0 0.75em;
  text-align: left;
}

table,
tr,
td {
  border: silver 1px solid;
}

.pixel-canvas {
  background-color : white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
  border-collapse: collapse;
}

tr {
  height: 20px;
}

td {
  min-width: 20px;
  box-sizing: border-box;
}

/* styles height and width input boxes */
input[type=number] {
  width: 3em;
  border: 1px solid #dcdcdc;
}

/* styles submit button, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.submit-button {
  box-shadow: inset 0px 1px 0 0 #fff;
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
  /* creates rounded edges (more pixels -> more rounded) */
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	color: #666;
	font-weight: bold;
  /* padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0 1px #fff;
  cursor: pointer;
  /* places button on its own line */
  display: block;
  margin-top: 1em;
}

.color-picker {
	border: 1px solid #dcdcdc;
}

/* styles content to left of grid */
.inputs {
  text-align: left;
  margin-left: 8em;
  margin-top: 11em;
  border-radius: 7px;
  border: 1px solid #dcdcdc;
  padding-left: 2.5em;
  width: 200px;
  background-color : white;
}

p {
  color: darkgrey;
}

/* part of two-column layout implementation */
.column {
  float: left;
  width: 35%;
}

/* ensures title ('Pixel Art Maker') is centered above grid */
.column:last-of-type {
  width: auto;
}

/* part of two-column layout implementation. :after' is a pseudo element, affecting display of generated content */
.row:after {
  /* you can't style generated content without defining what that content should be. If content not needed, just an extra 'invisible element' to style, and just style that. Without this, default value of content: none is assumed, meaning there is nothing for style to be applied to.  */
  content: "";
  display: table;
  /* cleared elements are pushed below the corresponding floated elements; 'clear: both' pushes element below all floated elements */
  clear: both;
}
