body {
  text-align: center;
  font-family: Arial;
  background-color: #e3e4e6;
}

/* styles title */
h1 {
  font-family: Helvetica;
  color: grey;
  font-size: 2.5em;
  /* single margin value sets the same value for all four sides. 1em is equal to the font size, which is typically 16px by default */
  margin: 0.6em;
  margin-left: 2.3em;
}

/* first margin value is top, second is right and left sides, third is bottom */
h4 {
  color: darkgrey;
  margin: 1em 0 0.75em;
  text-align: left;
}

table,
tr,
td {
  border: silver 1px solid;
}

.pixel-canvas {
  background-color : white;
}

/* 'border-collapse' CSS property specifies whether a table's cells have shared or separate borders; 'collapse' value causes cells to have shared borders */
table {
  border-collapse: collapse;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

/* styles height and width input boxes */
input[type=number] {
  width: 3em;
  border: 1px solid #dcdcdc;
}

/* styles submit button, including a change of displayed mouse cursor to inform user he/she is hovering over something clickable */
.submit-button {
  box-shadow: inset 0px 1px 0 0 #fff;
	background: linear-gradient(#f9f9f9 5%, #e9e9e9 100%);
  /* creates rounded edges (more pixels -> more rounded) */
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	color: #666;
	font-weight: bold;
  /* padding is space between element's content and border. First value sets top and bottom padding; second value sets right and left */
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0 1px #fff;
  cursor: pointer;
  /* places button on its own line */
  display: block;
  margin-top: 1em;
}

.color-picker {
	border: 1px solid #dcdcdc;
}

/* styles content to left of grid */
.inputs {
  text-align: left;
  margin-left: 8em;
  margin-top: 5.8em;
  border-radius: 7px;
  border: 1px solid #dcdcdc;
  padding-left: 2em;
  width: 200px;
  background-color : white;
}

p {
  color: darkgrey;
}

/* implements two-column layout */
.column {
  float: left;
  width: 35%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
